.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr); }
  .card-list > * {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #000;
    border-width: 0 1px 1px 0; }
    @media (max-width: 800px) {
      .card-list > * {
        border-width: 0 0 1px 0; } }
    .card-list > *:nth-of-type(3n) {
      border-right-width: 0; }
    .card-list > *:nth-of-type(n+4) {
      border-bottom-width: 0; }
      @media (max-width: 800px) {
        .card-list > *:nth-of-type(n+4) {
          border-bottom-width: 1px; } }
  @media (max-width: 800px) {
    .card-list {
      grid-template-columns: repeat(1, 1fr); } }
